header{
    padding: 2em;
}

div.logoMotoandRock{
    background-size: cover;
    background-position: center center;
    width: 330px;
    height: 220px;;
}

#woocommerce-product-search-field-0{
    
}